body{
    background-image: url("space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.btn{
    position: absolute;
    bottom: 0px;
    left: 35%;
    width:450px ;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    font-weight: bolder;
}
.btn button{
    width: 150px;
    height: 50px;
}
img{
    height: 70px;
    position: absolute;
    top: 250px;
    left: 680px;
    transition: all ease 1s;
}
@media only screen and (max-width:416px){
    body{
        background-size: 415px 100vh;
        width: 415px;
        height: 100%;
    }
    img{
        top: 210px;
        left:115px ;
    }
    .btn{
        left: 15%;
        width: 350px;
    }
    .btn button{
        width: 55px;
        height: 30px;
    }
}